RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^(www\.)?youtilitydobrasil\.com$ [NC]
RewriteRule ^(.*)$ https://youtilitycenter/$1 [R=301,L]
